@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --light-dark-bg-color: #00214f;
    --dark-bg-color: #030e1d;
    --grey-bg-color: #dce2eb;
    --light-bg-color: #f7f9ff;

    --primary-text-color: #F9FAF8;
    --primary-btn-text-size: 20px;
    --secondary-text-color: #E5E7EB;
    --secondary-text-size: 18px;
    --dark-secondary-color: #1F2937;
    --quote-text-size: 36px;
    --quote-text-weight: 400;
    --quote-text-color: #1F2937;

    --primary-color: #3882F6;
    --secondary-color: #0c52c2;
}

html {
    font-family: 'Montserrat';
    color: var(--primary-text-color);
    font-size: 18px;
}
body {
    background-color: var(--light-bg-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

h2 {
    color: var(--dark-secondary-color);
    font-size: 2.5rem;
    margin: 24px 0;
}

.subtext {
    color: var(--dark-secondary-color);
    line-height: 1.5rem;
}
.subtext-bright {
    color: var(--primary-text-color);
}
.top-margin-12 {
    margin-top: 12px;
}
.top-margin-24 {
    margin-top: 24px;
}

.emphasis {
    color: var(--primary-color);
}
.text-center {
    text-align: center;
}

section {
    padding: 0 128px;
}
.team-section,
.clients-section {
    margin-bottom: 48px;
}
.team-section {
    padding: 48px 0;
}
.clients-section {
    background-color: var(--grey-bg-color);
    padding-bottom: 80px;
}

header {
    background-color: var(--dark-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 128px;
    border-bottom: 1px solid rgb(98, 115, 135);
}

.logo {
    width: 60px;
}
.company-name {
    color: var(--primary-text-color);
    font-size: 42px;
    font-weight: 400;
    padding-right: 48px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-dir-column {
    flex-direction: column;
}
.flex-end {
    align-self: flex-end;
}

.nav-container {
    gap: 28px;
}
.nav-container > li {
    color: var(--secondary-text-color);
    transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nav-container > li:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.border-right {
    padding-right: 28px;
    border-right: 1px solid var(--primary-color);
}

.nav-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-right > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook-li {
    margin-right: -10px;
}

.social-media-links:hover .social-media-svgs  {
    fill: var(--primary-color);
}
.social-media-svgs {
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.primary-btn {
    font-size: var(--primary-btn-text-size);
    color: var(--primary-text-color);
    font-weight: bold;
    background-color: var(--primary-color);
    padding: 16px 64px;
    border: 2px solid transparent;
    border-radius: 36px;
    box-shadow: 4px 6px 3px 0 rgba(0, 0, 0, 0.417);
    transition: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.primary-btn:hover {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.small-padding {
    padding: 16px 48px;
}

.hero-section {
    background-color: var(--dark-bg-color);
    padding: 0;
    padding-left: 128px;
}

.hero-title-container {
    max-width: 1000px;
    margin-right: auto;
}

.hero-title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 24px;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding-top: 72px;
    padding-bottom: 192px;
    padding-right: 24px;
    flex: 1;
    max-width: 650px;
}
.services-container > ul {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.service-link {
    font-size: 36px;
    font-weight: bold;
    transition: 0.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.service-link:hover {
    color: var(--light-dark-bg-color);
}


.clients-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    row-gap: 20px;
}

.company-container {
    display: flex;
    align-items: center;
    gap: 12px;
}
.example-logo {
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.company-container > p {
    color: var(--dark-secondary-color);
    text-wrap: nowrap;
}


.team-container {
    justify-content: space-between;
    gap: 48px;
}
.employee-photo {
    border-radius: 8px;
}
.employee-name {
    color: var(--dark-secondary-color);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin: 8px 0;
}


.quote-section {
    background-color: var(--grey-bg-color);
    padding: 120px 0;
}
.quote-container {
    max-width: 50%;
}
.quote {
    color: var(--quote-text-color);
    font-size: var(--quote-text-size);
    font-weight: var(--quote-text-weight);
    padding-left: 50px;
}
.quote-author {
    color: var(--quote-text-color);
    font-size: 1.5rem;
    font-weight: bold;
}